body {
    margin: 0;
    font-family: Roboto;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}
form {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
label {
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    color: #333;
    margin: 16px 0 6px;
}
button {
    color: white;
    border: 0;
    background: #56aa7c;
    padding: 6px;
    min-width: 80px;
    border-radius: 4px;
    margin: 16px 0 6px;
    cursor: pointer;
}

button :hover {
    background-color: #1c5f36;
}